h1 {
    text-align: center;
    color: red;
    font-family: "Times New Roman", Times, serif;
  }
  
  h2 {
    text-align: right;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #358FFF;
  }

  h3 {
    text-align: right;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #358FFF;
  }

  h4 {
    text-align: right;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #358FFF;
  }
  
  p {
    text-align: center;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #19ff19;
  }

  p.dotted {border-style: dotted;}

  p.classy {font-weight: bold;}

  .square {
    height: 50px;
    width: 50px;
    background-color: #555;
  }

  #hey {
    text-align: left;
    color: red;
  }

  #bye {
    text-align: left;
    color: orange;
  }

  a:hover {
    color: hotpink;
  }

  div p {
    background-color: #7a6969;
  }

